<a href="https://colab.research.google.com/github/Safin0092024/ISYS5002-2024-Semester1/blob/main/ISYS_ASSIGNMENT_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Australian Energy Dataset Analysis
***Answering the group B question number 5***

To analyse and visualise the total energy consumption for each state, it is importent to import the sql data file and connect the file.

In [ ]:
import sqlite3

In [ ]:
conn = sqlite3.connect('AUS_energy_sqlite3.db')
cur = conn.cursor()

In [ ]:
sql = '''
SELECT name FROM sqlite_master WHERE type='table';
'''
cur.execute(sql)
cur.fetchall()

In [ ]:
#inspect the details of the AUS_energy_sqlite3.db

sql = '''
PRAGMA table_info(AUS_energy);
'''
cur.execute(sql)
cur.fetchall()

In [ ]:
import pandas as pd

sql = '''
SELECT * FROM AUS_energy;
'''
AUS_energy_df = pd.read_sql_query(sql, conn)

In [ ]:
AUS_energy_df.head()

In [ ]:
AUS_energy_df.info()

In [ ]:
AUS_energy_df.describe()

In [ ]:
AUS_energy_df

In [ ]:
# Check for missing values
AUS_energy_df.isnull()

In [ ]:
AUS_energy_df.duplicated()

In [ ]:
# Check for missing values in each row
null_records = AUS_energy_df.isnull().any(axis=1)

AUS_energy_df[null_records]

**Handling missing values**

If there are missing values, we can choose to remove or impute them.

For demonstration, we'll impute missing values in the 'alignment' column with 'Unknown'.

*sources:*

* https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.duplicated.html
* https://www.geeksforgeeks.org/working-with-missing-data-in-pandas/

In [ ]:
# impute missing values with 'Unknown'.
AUS_energy_df['Coal (PJ)'].fillna('Unknown', inplace = True)

In [ ]:
AUS_energy_df

In [ ]:
import sqlite3
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Step 1: Connect to the SQLite database and retrieve the data
conn = sqlite3.connect('AUS_energy_sqlite3.db')

# Load data into a DataFrame
sql = 'SELECT * FROM AUS_energy;'
AUS_energy_df = pd.read_sql_query(sql, conn)

# Close the connection
conn.close()

# Step 2: Aggregate the energy consumption data by state and fuel type
# Convert relevant columns to numeric, handling missing values
energy_cols = ['Coal (PJ)', 'Oil (PJ)', 'Gas (PJ)', 'Renewables (PJ)']
AUS_energy_df[energy_cols] = AUS_energy_df[energy_cols].apply(pd.to_numeric, errors='coerce')

# Aggregate by State
state_energy_df = AUS_energy_df.groupby('State')[energy_cols].sum()

# Step 3: Create visualizations using Matplotlib

# Create a bar plot for total energy consumption by fuel type for each state
state_energy_df.plot(kind='bar', stacked=True, figsize=(14, 8))

plt.title('Total Energy Consumption by State and Fuel Type (2008-2022)')
plt.xlabel('State')
plt.ylabel('Energy Consumption (PJ)')
plt.legend(title='Fuel Type')
plt.xticks(rotation=45)
plt.tight_layout()

# Display the plot
plt.show()